@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#landing {
    background: url(../images/landing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#enquiry {
    background: url(../images/enquiry.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#login {
    background: url(../images/login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#projects, #client-projects, #project-details, #images, #notes {
    background: url(../images/enquiry.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#inventory, #new-inventory {
    background: url(../images/inventory.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#enquiries, #new-account, #all-accounts {
    background: url(../images/admin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#unauth {
    background: url(../images/unauth.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}